Repository dfacoet/qpspin-mc-solver: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy, nb-clean

ruff-format:
  name: ruff format
  entry: uv run ruff format src tests examples
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check src tests examples
  language: system

mypy:
  name: mypy
  entry: uv run mypy --install-types
  language: system
  require_serial: true

nb-clean:
  name: nb-clean
  entry: uv run nb-clean clean
  language: system
  args:
  - --preserve-cell-outputs

chore: configure ruff rules
  pyproject.toml
  src/qpspin_mc/two_level_system.py
  tests/__init__.py
  tests/test_two_level_system.py
Due: ruff-format, ruff-check, mypy

WIP: ASV
  .gitignore
  asv.conf.json
  benchmarks/__init__.py
  benchmarks/basic_benchmark.py
  benchmarks/benchmark_two_level_system.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy

Improve pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add simpler Pi estimate (MC sampling on square) and benchmarks
  .pre-commit-config.yaml
  examples/benchmark_pi.py
  pyproject.toml
  src/qpspin_mc/pi.py
Due: ruff-format, ruff-check, mypy

WIP: setup maturin project
  .gitignore
  pyproject.toml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  src/lib.rs
  uv.lock
Due: none

Setup maturin project for rust extension
  .gitignore
  pyproject.toml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  src/qpspin_mc/__init__.py
  tests/test__qpspin_mc.py
  uv.lock
Due: ruff-format, ruff-check, mypy

Add Python inteface stub for Rust extension _qpspin_mc
  src/qpspin_mc/_qpspin_mc.pyi
Due: none

Add Rust formatting and linting pre-commit hooks
  .github/workflows/test.yml
  .pre-commit-config.yaml
  rust/src/lib.rs
Due: none

Add Rust formatting, linting and test to github workflow
  .github/workflows/test.yml
Due: none

Add Rust test
  rust/src/lib.rs
Due: none

feat: Replace placeholder rust function with pi_mc_rust
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  src/qpspin_mc/__init__.py
  src/qpspin_mc/_qpspin_mc.pyi
  src/qpspin_mc/pi.py
  tests/test__qpspin_mc.py
  tests/test_pi.py
Due: ruff-format, ruff-check, mypy

Seed generator in pi_mc_rust
  .pre-commit-config.yaml
  rust/Cargo.lock
  rust/Cargo.toml
  rust/src/lib.rs
  tests/test_pi.py
Due: ruff-format, ruff-check, mypy

Fix issue with extension-module and cargo test.
  .github/workflows/test.yml
  README.md
  pyproject.toml
  rust/Cargo.lock
  rust/Cargo.toml
Due: none

Update benchmark_pi.py
  examples/benchmark_pi.py
Due: ruff-format, ruff-check, mypy

WIP: asv
  .gitignore
  asv.conf.json
  benchmarks/__init__.py
  benchmarks/basic_benchmark.py
  benchmarks/benchmark_pi.py
  benchmarks/benchmark_two_level_system.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-check, mypy

WIP: restructure
  rust/src/lib.rs
  rust/src/pi.rs
  src/qpspin_mc/pi.py
Due: ruff-format, ruff-check, mypy

WIP: modules with Joe's help
  rust/src/lib.rs
  rust/src/pi.rs
  src/qpspin_mc/pi.py
Due: ruff-format, ruff-check, mypy

clean up
  rust/src/pi.rs
Due: none

Final structure using declarative modules
  rust/src/lib.rs
  rust/src/pi.rs
  src/qpspin_mc/pi.py
Due: ruff-format, ruff-check, mypy

Mirror the python module structure in Rust project (#4)
  rust/src/lib.rs
  rust/src/pi.rs
  src/qpspin_mc/pi.py
Due: ruff-format, ruff-check, mypy

Use pyo3 0.24.0
  rust/Cargo.lock
  rust/Cargo.toml
Due: none

Use pyo3 0.24.0 (#5)
  rust/Cargo.lock
  rust/Cargo.toml
Due: none

fix stubs and mypy option
  .github/workflows/test.yml
  pyproject.toml
  src/qpspin_mc/_qpspin_mc/pi.pyi
  uv.lock
Due: none

Add two_level_system extension submodule
  rust/src/lib.rs
  rust/src/two_level_system.rs
  src/qpspin_mc/_qpspin_mc/two_level_system.pyi
  src/qpspin_mc/two_level_system.py
  tests/test_two_level_system.py
Due: ruff-format, ruff-check, mypy

Play with test function with non trivial input and output
  rust/src/two_level_system.rs
  src/qpspin_mc/_qpspin_mc/two_level_system.pyi
  src/qpspin_mc/two_level_system.py
  src/two_level_system.rs
  tests/test_two_level_system.py
Due: ruff-format, ruff-check, mypy

Rust version of TLS MC run
  rust/src/lib.rs
  rust/src/two_level_system.rs
Due: none

Use rust backend for tls; compare python vs rust
  examples/two_level_system.ipynb
  pyproject.toml
  rust/src/two_level_system.rs
  src/qpspin_mc/_qpspin_mc/two_level_system.pyi
  src/qpspin_mc/two_level_system.py
  tests/test_two_level_system.py
Due: ruff-format, ruff-check, mypy, nb-clean

Path conditions:
  ruff-format: any of: \.py$, \.ipynb$
  ruff-check: any of: \.py$, \.ipynb$
  mypy: any of: \.py$
  nb-clean: any of: ^examples/.*\.ipynb$
